.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.separator {
  background-color: #ccc;

  &:hover {
    cursor: grab;

    &:active {
      cursor: grabbing;
      background-color: #333;
    }
  }
}
